<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> 空间后台管理 </title>
    <div th:include="include::header"></div>
    <!-- 主 题 更 换 -->
    <style id="pearadmin-bg-color"></style>
    <!-- 头 部 结 束 -->
</head>
<!-- 结 构 代 码 -->
<body class="layui-layout-body pear-admin">
<!-- 布 局 框 架 -->
<div class="layui-layout layui-layout-admin">
    <!-- 头部 -->
    <div id="header" class="header"></div>
    <!-- 侧 边 区 域 -->
    <div class="layui-side layui-bg-black">
        <!-- 顶 部 图 标 -->
        <div class="layui-logo">
            <!-- 图 表 -->
            <img class="logo"/>
            <!-- 标 题 -->
            <span class="title"></span>
        </div>
        <!-- 侧 边 菜 单 -->
        <div class="layui-side-scroll">
            <div id="sideMenu"></div>
        </div>
    </div>
    <!-- 视 图 页 面 -->
    <div class="layui-body">
        <!-- 内 容 页 面 -->
        <div id="content"></div>
    </div>
</div>
<!-- 遮 盖 层 -->
<div class="pear-cover"></div>
<!-- 移 动 端 便 捷 操 作 -->
<div class="pear-collasped-pe collaspe"><a href="#" class="layui-icon layui-icon-shrink-right"></a></div>
<!-- 加 载 动 画-->
<div class="loader-main">
    <div class="loader"></div>
</div>
<!-- 依 赖 脚 本 -->
<div th:include="include::footer"></div>
<!-- 框 架 初 始 化 -->
<script>
    $(function () {
        // 加载头部
        $('#header').load('adminHeader')
        $.ajax({
            url: 'websocket/1',
            dataType: 'json',
            type: 'get',
            success: function (data) {

                console.log(data)
            }
        })
    })
    layui.use(['admin', 'jquery', "convert"], function () {
        var admin = layui.admin,
            $ = layui.jquery,
            convert = layui.convert;

        var image = new Image();
        image.src = "admin/images/avatar.jpg";
        image.onload = function () {
            $(".layui-nav-img").attr("src", convert.imageToBase64(image));
        }

        // 重新设置配置文件读取路径，默认为同级目录下的 pear.config.json
        admin.setConfigPath("config/pear.config.yml");

        // Admin 框架初始化
        admin.render();
    })
</script>
</body>
</html>
