<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjl.basic.zone.project.operlog.mapper.OperLogMapper">
    <resultMap type="com.cjl.basic.zone.project.operlog.domain.OperLog" id="OperLogResult">
        <id property="operId" column="oper_id"/>
        <result property="title" column="title"/>
        <result property="businessType" column="business_type"/>
        <result property="method" column="method"/>
        <result property="operatorType" column="operator_type"/>
        <result property="operName" column="oper_name"/>
        <result property="deptName" column="dept_name"/>
        <result property="operUrl" column="oper_url"/>
        <result property="operIp" column="oper_ip"/>
        <result property="operLocation" column="oper_location"/>
        <result property="operParam" column="oper_param"/>
        <result property="status" column="status"/>
        <result property="errorMsg" column="error_msg"/>
        <result property="operTime" column="oper_time"/>
        <result property="mfrsId" column="mfrs_id"/>
    </resultMap>

    <sql id="selectOperLogVo">
        select oper_id,
               title,
               business_type,
               method,
               operator_type,
               oper_name,
               dept_name,
               oper_url,
               oper_ip,
               oper_location,
               oper_param,
               status,
               error_msg,
               oper_time
        from mfrs_oper_log
    </sql>

    <insert id="insertOperlog" parameterType="com.cjl.basic.zone.project.operlog.domain.OperLog">
        insert into mfrs_oper_log(title, business_type, method, operator_type, oper_name, dept_name, oper_url, oper_ip,
                                  oper_location, oper_param, status, error_msg, oper_time, mfrs_id)
        values (#{title}, #{businessType}, #{method}, #{operatorType}, #{operName}, #{deptName}, #{operUrl}, #{operIp},
                #{operLocation}, #{operParam}, #{status}, #{errorMsg}, #{operTime}, #{mfrsId})
    </insert>

    <select id="selectOperLogList" parameterType="com.cjl.basic.zone.project.operlog.domain.OperLog" resultMap="OperLogResult">
        SELECT
                mol.oper_id,
                mol.title,
                mol.business_type,
                mol.method,
                mol.operator_type,
                mol.oper_name,
                mol.dept_name,
                mol.oper_url,
                mol.oper_ip,
                mol.oper_location,
                mol.oper_param,
                mol.STATUS,
                mol.error_msg,
                mol.oper_time
                FROM
                mfrs_oper_log mol
        <where>
            <if test="title != null and title != ''">
                AND mol.title like concat('%', #{title}, '%')
            </if>
            <if test="businessType != null">
                AND mol.business_type = #{businessType}
            </if>
            <if test="operName != null and operName != ''">
                AND mol.oper_name like concat('%', #{operName}, '%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(mol.oper_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(mol.oper_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            <if test="mfrsId != null and mfrsId != ''">
                AND mol.mfrs_id = #{mfrsId}
            </if>
        </where>
        order by mol.oper_time desc
    </select>

    <delete id="deleteOperLogByIds" parameterType="String">
        delete from mfrs_oper_log where oper_id in
        <foreach collection="array" item="operId" open="(" separator="," close=")">
            #{operId}
        </foreach>
    </delete>

    <select id="selectOperLogById" parameterType="Long" resultMap="OperLogResult">
        <include refid="selectOperLogVo"/>
        where oper_id = #{operId}
    </select>

    <update id="cleanOperLog">
        truncate table mfrs_oper_log
    </update>

</mapper> 