<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <div th:include="include::header"></div>
    <link th:href="@{/admin/css/other/spaceBoard.css}" rel="stylesheet"/>
</head>
<style>
    .toast-top-center {
        margin-top: calc(50% - 750px);
    }

    .layuiadmin-card-status img {
        width: 300px;
        height: 150px;
    }

    .form img {
        width: 100%;
        height: 100%;
        margin-bottom: 30px;
    }

    .form-box {
        padding-bottom: 30px;
        /*height: 600px;*/
    }

    .reply {
        position: relative;
        top: 20px;
        left: 5px;
        text-align: right;
    }

    .replyMessage {
        position: relative;
        top: 20px;
        left: 50px;
    }

    .message_title {
        color: #9675ce;
    }
</style>
<body class="pear-container">
<!--内容-->
<div class="layui-row layui-col-space10">
    <div class="layui-card top-panel">
        <div class="layui-card-body">
            <div class="content whisper-content leacots-content">
                <div class="cont w1000">
                    <div class="whisper-list">
                        <div class="item-box">
                            <div class="review-version" id="board">
                                <div class="form-box">
                                    <div class="volume">
                                        主人寄语
                                        <button class="pear-btn pear-btn-warming pear-btn-xs" id="edit" load>编辑</button>
                                    </div>
                                    <div class="form" th:if="${#lists.size(owner) ==0 or owner[0].message==''}"
                                         id="firstMessage">
                                        <div>这个人很懒，什么都没有留下。。。</div>
                                    </div>
                                    <div class="form" th:if="${#lists.size(owner) !=0}" id="editMessage">
                                    </div>
                                </div>
                                <div class="volume">
                                    全部留言 <span>[[${#lists.size(message)}]]</span>
                                </div>
                                <div class="list-cont">
                                    <div class="cont" th:each="item:${message}">
                                        <div class="img">
                                            <img th:src="${item?.avatar}" alt="">
                                        </div>
                                        <div class="text">
                                            <p class="tit"><span class="name" th:text="${item?.comeUserName}"></span>
                                                <span class="data" th:text="${item?.createTime}"></span>
                                            </p>
                                            <p class="ct" th:text="${item?.message}"></p>
                                            <p class="replyMessage" th:if="${#lists.size(item?.replies)>0}">
                                                <span th:each="rp:${item?.replies}">
                                                    <span class="message_title">
                                                        [[${rp.createTime}]] [[${rp.userName}]] 对 [[${rp.repliedUserName}]] 说：
                                                    </span>
                                                    <span th:text="${rp?.message}"></span> <br>
                                                </span>
                                            </p>
                                            <p class="reply">
                                                <a href="javascript:void(0)" th:id="${item?.mbId}"
                                                   th:data-accountId="${item?.comeAccountId}"
                                                   onclick="reply(this)">回复</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="message-toolbar">
    <textarea name="" id="message" cols="30" rows="10"></textarea>
    <div class="layui-form-item" style="margin-top: 10px">
        <div class="layui-input-block" style="text-align: right;">
            <button class="layui-btn definite" lay-event="getContent" id="commit">
                发表
            </button>
            <button class="layui-btn definite" lay-event="cancelContent" id="cancel">
                取消
            </button>
        </div>
    </div>
</script>

<script type="text/html" id="messageValue">
    <div th:utext="${#lists.size(owner)>0?owner[0].message:''}"></div>
</script>
<script type="text/html" id="replyContent">
    <div id="mesBoard">
        <input type="hidden" name="mbId" id="mbId">
        <input type="hidden" name="accountId" id="accountId">
        <div class="layui-form-item layui-form-text">
            <div class="layui-col-sm11">
                <div class="layui-input-block" style="margin-left:5px;margin-top: 10px;">
                    <textarea name="desc" placeholder="" class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-sm11">
                <div class="layui-input-block" style="text-align: right;margin-left:5px;margin-bottom: -25px;">
                    <button class="pear-btn pear-btn-primary pear-btn-xs" lay-event="comeback">回复</button>
                    <button class="pear-btn pear-btn-primary pear-btn-xs" lay-event="cancelReply">取消</button>
                </div>
            </div>
        </div>
    </div>
</script>
<div th:include="include::footer"></div>
<script th:inline="javascript">
    function initTinymce(tinymce, $, util, layer, common, oldContent) {
        var edit = tinymce.render({
            elem: "#message",
            height: 400,
            menubar: false, //隐藏菜单栏
        });
        setTimeout(function () {
            if (oldContent) {
                edit.setContent(oldContent)
            }
        }, 500);
        util.event('lay-event', {
            getContent: function () {
                var option = {
                    url: '/board/addOwner',
                    type: 'post',
                    data: {
                        message: edit.getContent()
                    }
                };
                common.ajax(option, function (res) {
                    if (res.code == 0) {
                        $.notice.successNotice("发表成功")
                        edit.setContent('')
                        $.modal.refreshIframe(400)
                    } else {
                        $.notice.errorNotice(res.msg)
                    }
                })
            },
            cancelContent: function () {
                $("#edit").show()
                var oldContent = $("#messageValue").html();
                $("#editMessage").empty();
                // 将主人寄语加载到div中
                $("#editMessage").append(oldContent);
            }
        });
    }

    function editButton($, content, tinymce, util, layer, common) {
        $("#edit").click(function () {
            $("#edit").hide();
            $("#firstMessage").hide();
            var elem = [[${owner}]].length > 0 ? '#editMessage' : '#firstMessage'
            var oldContent = $('#editMessage div:first-child').html();
            $(elem).empty();
            // 将主人寄语加载到div中
            $(elem).append(content);
            // 富文本编辑器
            initTinymce(tinymce, $, util, layer, common, oldContent);
        })
    }

    layui.use(['tinymce', 'common', 'util', 'layer', 'button', 'dragMove'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            common = layui.common,
            tinymce = layui.tinymce,
            util = layui.util;
        var content = $('#message-toolbar').text();
        var messageValue = $("#messageValue").html();
        // 将第一次主人寄语加载到div中
        $("#editMessage").append(messageValue);
        // 注册图片放大
        $.dragMove.init('board')
        // 注册编辑按钮
        editButton($, content, tinymce, util, layer, common);
        // 回复按钮
        util.event('lay-event', {
            comeback: function () {
                var desc = $("[name=desc]").val();
                var mbId = $("#mbId").val();
                var accountId = $("#accountId").val();
                if (desc == '') {
                    $.notice.warningNotice('回复内容不能为空哦');
                    return
                }
                common.ajax({
                    url: '/board/replyMessage',
                    type: 'post',
                    data: {
                        message: desc,
                        mbId: mbId,
                        repliedAccountId: accountId
                    }
                }, function (res) {
                    if (res.code != 0) {
                        $.notice.errorNotice(res.msg);
                    }
                })
            },
            cancelReply: function () {
                var mbId = $("#mbId").val();
                $('#' + mbId).show()
                var jQuery = $("#" + mbId).parent();
                var a = $("#" + mbId).prop("outerHTML");
                jQuery.empty();
                jQuery.append(a)
            }
        })
    });

    function reply($this) {
        var jQuery = $("#mesBoard").parent();
        jQuery.find('a').show();
        $("#mesBoard").remove();
        var content = $("#replyContent").html();
        $($this).parent().append(content);
        $("[name=mbId]").val($this.id);
        $("[name=accountId]").val($this.dataset["accountid"]);
        $('#' + $this.id).hide();
    }

</script>
</body>
</html>