<div class="form">
    <form class="layui-form"
          action="">
        <div class="layui-form-item layui-form-text">
            <div class="layui-input-block">
                <textarea name="desc" placeholder="既然来了，就说几句" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: right;">
                <button class="layui-btn definite">发表</button>
            </div>
        </div>
    </form>
</div>