<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:include="include::header"></div>
</head>
<body>
<!--第一行-->
<div class="layui-row">
    <div class="layui-col-sm12">
        <button type="button" class="layui-btn" id="addLogType">新增</button>
    </div>
</div>
<!--第二行-->
<div class="layui-row">
    <div class="layui-col-sm12">
        <table id="layui-table" lay-filter="layui-table"></table>
    </div>
</div>
<!--表格操作界面-->
<script type="text/html" id="oper">
    <div class="layui-btn-group">
        <button type="button" class="layui-btn layui-btn-primary layui-btn-xs">
            <i class="layui-icon">&#xe642;</i>编辑
        </button>
        <button type="button" class="layui-btn layui-btn-primary layui-btn-xs">
            <i class="layui-icon">&#xe640;</i>删除
        </button>
    </div>
</script>
<div th:include="include::footer"></div>
<script>

    $(function () {
        bindEvent();

        /**
         * @Description [事件绑定]
         * @author xj
         * @return [返回值]
         * @date 2021/5/4 19:04
         */
        function bindEvent() {
            $('#addLogType').click(function () {
                $.modal.openIframe('新增日志类型', '/journal/template?url=/logManager-add', null, 400, function (data) {
                    console.log(data);
                    nn.reload();
                });

            });
        }


        var nn = $.table.tableInit({
            url: '/zCategories/list',
            cols: [
                [
                    {
                        title: '日志分类名称',
                        field: 'titleName',
                        align: 'left',
                    },
                    {
                        title: '创建时间',
                        field: 'createTime',
                        align: 'right',
                    },
                    {
                        align: 'right',
                        templet: '#oper'
                    }
                ]
            ]
        });
    })
</script>
</body>
</html>