<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjl.basic.zone.project.menu.mapper.ZMenuMapper">
    <resultMap id="BaseResultMap" type="com.cjl.basic.zone.project.menu.domain.ZMenu">
        <id column="menu_id" jdbcType="INTEGER" property="menuId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="href" jdbcType="VARCHAR" property="href"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="open_type" jdbcType="VARCHAR" property="openType"/>
    </resultMap>
    <sql id="Base_Column_List">
        menu_id, title, parent_id, href, icon, `type`, open_type
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from z_menu
        where menu_id = #{menuId,jdbcType=INTEGER}
    </select>
    <select id="selectMenuList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from z_menu
        <where>
            <if test="title !=null and title !=''">title like concat('%',#{title},'%')</if>
            <if test="openType !=null and openType !=''">open_type =#{openType}</if>
        </where>
    </select>
    <select id="selectMenuListByRole" resultType="com.cjl.basic.zone.project.menu.domain.ZRoleMenu">
        select
        <include refid="Base_Column_List"/>
        from z_role_menu
        where z_role_id = #{roleId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from z_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </delete>
    <insert id="insertSelective" keyColumn="menu_id" keyProperty="menuId"
            parameterType="com.cjl.basic.zone.project.menu.domain.ZMenu" useGeneratedKeys="true">
        insert into z_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
                title,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="href != null">
                href,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="openType != null">
                open_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="href != null">
                #{href,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="openType != null">
                #{openType,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cjl.basic.zone.project.menu.domain.ZMenu">
        update z_menu
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="href != null">
                href = #{href,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                `type` = #{type,jdbcType=INTEGER},
            </if>
            <if test="openType != null">
                open_type = #{openType,jdbcType=VARCHAR},
            </if>
        </set>
        where menu_id = #{menuId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cjl.basic.zone.project.menu.domain.ZMenu">
    update z_menu
    set title = #{title,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      href = #{href,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=INTEGER},
      open_type = #{openType,jdbcType=VARCHAR}
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
</mapper>