<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <div th:include="include::header"></div>
    <style>
        h1 {
            margin-top: 200px;
            color: #5FB878;
        }

        .layui-card-body {
            text-align: center;
        }

        /*    隐藏表格工具栏元素、表头元素*/
        .layui-table-tool, .layui-table-header {
            display: none;
        }
    </style>
</head>
<body class="pear-container">
<!--内容-->
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-upload">
            <div class="layui-upload-drag" id="uploadPic">
                <i class="layui-icon"></i>
                <p>支持多图上传，或将文件拖拽到此处</p>
            </div>
            <blockquote class="layui-elem-quote layui-quote-nm" id="photo"
                        style="margin-top: 10px;text-align: left;display: none;">
                预览图：
                <div class="layui-upload-list">
                    <ul id="_photo">

                    </ul>
                </div>
            </blockquote>
            <p id="tipTxt"></p>
        </div>

    </div>
</div>
<div th:include="include::footer"></div>

<script>
    //图片删除
    function deletePic(Obj) {
        Obj.parentNode.parentNode.removeChild(Obj.parentNode);
    }

    layui.use(['element', 'layer', 'form', 'upload', 'dragMove'], function () {
        var $ = layui.jquery
            , layer = layui.layer
            , element = layui.element
            , upload = layui.upload
            , dragMove = layui.dragMove
            , form = layui.from;
        //多图片上传
        upload.render({
            elem: '#uploadPic'
            , url: 'common/upload' //改成您自己的上传接口
            , multiple: true
            , accept: 'images'
            , exts: 'jpg|jpeg|png|gjf|webp|bmp|tif'
            , drag: true
            , allDone: function (obj) {
                var txt = "共选择了 【" + obj.total + "】 张图片，其中，上传成功 【" + obj.successful + "】 张，失败 <span style='color:red'>【" + obj.aborted + "】 </span>张";
                $("#tipTxt").html(txt);
            }
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $("#photo").show();
                    // var text = '<li style="display: inline;"><img style="width: 150px;height: 150px" src="' + result + '" alt="' + file.name + '" class="layui-upload-img"></li>';
                    var lid = 'p' + index;
                    $('#_photo').append(
                        '<li id="' + lid + '">' +
                        '<img name="imgZmList" src="' + result + '" width="150" height="113" alt="' + file.name + '">' +
                        '<span class="icon pear-icon pear-icon-ashbin img_close"  onclick="deletePic(this)"></span>' +
                        '</li>');
                    picMove('p' + index)
                });
            }
            , done: function (res) {
                $('#demoText').html('');
                //上传完毕
                if (res.code == 200) {
                    layer.msg('上传完毕', {icon: 1});
                }
            }
        });


        function picMove(elem) {
            //执行示例
            dragMove.render({
                elem: "#" + elem, //指向图片的父容器
                layerArea: ["560px", "520px"], //弹窗的宽高，同layer的area，默认["960px","720px"]
                layerShade: 0.6, //遮罩的透明度，同layer的shade，默认0.6
                layerMove: false, //触发拖动的元素，同layer的move，这里默认禁止，可设置为'.layui-layer-title'
                maxZoom: 1 //图片能放大的最大倍数，默认1倍
            });
        }

    });
</script>
</body>
</html>