<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Web IM</title>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--    <link th:href="@{/component//layui/css/layui.css}" rel="stylesheet"/>-->
    <!--    <script th:inline="javascript">-->
    <!--        var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];-->
    <!--        var accountId = [[${accountId}]];-->
    <!--        console.log('accountId=' + accountId)-->
    <!--     </script>-->
</head>
<body>
</body>

<!--<div th:include="include::layIm"></div>-->
<script th:src="@{/js/webSocket.js}"></script>
<script th:src="@{/js/rightClick.js}"></script>
<script type="application/javascript" th:src="@{/js/layuiim.js}"></script>
</html>