<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <div th:include="include::header"></div>
    <link th:href="@{/admin/css/other/console1.css}" rel="stylesheet"/>
</head>
<style>
    .laydate-theme-white {
        border: none;
        background-color: #ffffff;
    }

    .layui-laydate .layui-this {
        background-color: #2d8cf0 !important;
        color: #fff !important;
    }

    .toast-top-center {
        margin-top: calc(50% - 750px);
    }

    .layuiadmin-card-status img {
        width: 300px;
        height: 150px;
    }
</style>
<body class="pear-container">
<!--内容-->
<div class="layui-row layui-col-space10">
    <div class="layui-col-xs6 layui-col-md3">
        <div class="layui-card top-panel">
            <div class="layui-card-header">
                <div class="layui-row layui-col-space5">
                    <div class="layui-col-xs8 layui-col-md4 top-panel-tips">
                        照片
                    </div>
                    <div class="layui-col-xs8 layui-col-md4 top-panel-tips">
                        日志
                    </div>
                    <div class="layui-col-xs4 layui-col-md4 top-panel-tips">
                        动态
                    </div>
                </div>
            </div>
            <div class="layui-card-body">
                <div class="layui-row layui-col-space5">
                    <div class="layui-col-xs8 layui-col-md4 top-panel-number" style="color: #28333E;" id="value1">
                        0
                    </div>
                    <div class="layui-col-xs8 layui-col-md4 top-panel-number" style="color: #28333E;" id="value3">
                        0
                    </div>
                    <div class="layui-col-xs4 layui-col-md4 top-panel-number" style="color: red;" id="value4">
                        0
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-card top-panel">
            <div class="layui-card-header">个人资料</div>
            <div class="layui-card-body" style="height: 120px;text-align: left">
                <div class="layui-row">

                    <div class="layui-col-xs8 layui-col-md4">
                        &nbsp;
                    </div>
                    <div class="layui-col-xs8 layui-col-md8">
                        E-mail : [[${user.email}]]
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-xs8 layui-col-md4">
                        &nbsp;
                    </div>
                    <div class="layui-col-xs8 layui-col-md8">
                        联系电话 : [[${user.phonenumber}]]
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-xs6 layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header" style="padding-top: 5px">
                <input class="layui-input" type="text" placeholder="说点什么吧" autocomplete="off" readonly
                       id="showActiveContent">
            </div>
            <div class="layui-card-body" id="activeContent" hidden>
                <textarea name="" id="edit" cols="30" rows="10"></textarea>
                <div class="layui-btn-group" style="margin-top: 10px;position: relative;left: 830px">
                    <button class="pear-btn pear-btn-success" lay-event="getContent" id="commit">发表</button>
                </div>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">
                <ul>
                    <li style="display: inline">全部动态</li>
                    <li class="refresh layui-nav-item" style="display: inline">
                        <a href="#" id="refresh" class="layui-icon layui-icon-refresh-1" loading=600></a>
                    </li>
                </ul>
            </div>
            <div class="layui-card-body">
                <dl class="layuiadmin-card-status" id="dynamic">
                    <dd>
                        暂无动态
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="layui-col-xs6 layui-col-md3">
        <div class="layui-card top-panel">
            <div class="layui-card-header">本月签到次数</div>
            <div class="layui-card-body">
                <div class="layui-row layui-col-space5">
                    <div class="layui-col-xs4 layui-col-md4 top-panel-tips">
                        <button class="pear-btn pear-btn-primary" plain="" id="signIn" load> 签到</button>
                    </div>
                    <div class="layui-col-xs8 layui-col-md8 top-panel-number" style="color: #28333E;" id="signTimes">
                        0
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-card top-panel">
            <div class="layui-card-header">签到日历</div>
            <div class="layui-card-body" style="height: 400px">
                <div class="layui-row layui-col-space5">
                    <div id="signDate"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script th:src="@{component/layui/lay/modules/laydate.js}"></script>
<script>
    var signTimes = [[${signTimes}]];

    function initDate(laydate, common) {
        var data = [];
        common.ajax({
            url: 'home/getSignMark',
            type: 'get'
        }, function (res) {
            if (res.code == 0) {
                data = res.data
                var ins1 = laydate.render({
                    elem: '#signDate'
                    , position: 'static'
                    , showBottom: false
                    , theme: 'white'
                    , value: [
                        '2021-05-01',
                        '2021-05-02',
                        '2021-05-03',
                    ]
                    // , calendar: true
                    , mark: data[0] ? data[0] : {}
                    , done: function (value, date) {
                        var _real = data[1] ? data[1] : {};
                        for (let key in _real) {
                            if (value == key) {
                                ins1.hint(_real[key] + '...');
                            }
                        }
                    }, ready: function (date) {
                        console.log(date); //得到初始的日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                    }
                });
            }
        });

    }

    function initNumber(count) {
        count.up("signTimes", {
            time: signTimes ? parseInt(signTimes) * 150 : 0,
            num: signTimes,
            bit: 0,
            regulator: 50
        })
        count.up("value1", {
            time: 4000,
            num: 10,
            bit: 0,
            regulator: 50
        })

        count.up("value2", {
            time: 4000,
            num: 10,
            bit: 0,
            regulator: 50
        })

        count.up("value3", {
            time: 4000,
            num: 10,
            bit: 0,
            regulator: 50
        })

        count.up("value4", {
            time: 4000,
            bit: 0,
            num: 20,
            regulator: 50
        })
    }

    function initTinymce(tinymce, $, util, layer, common, notice) {
        var edit = tinymce.render({
            elem: "#edit",
            height: 400
            // , init_instance_callback: function (ed) {
            //     ed.on('Blur', function (e) {
            //         // 监听编辑器内部的点击事件
            //         debugger
            //     });
            // }
        });
        // $('html').click(function () {
        //     console.log(document.activeElement);
        // })
        $(document).click(function (e) {
            e = window.event || e;
            var obj = e.srcElement || e.target;
            if (($(obj).is("#showActiveContent") || $(obj).is("#activeContent") || $(obj).is("#commit")) && !$(obj).is('body')) {
                $("#activeContent").show();
            } else {
                $("#activeContent").hide();
            }
        });
        util.event('lay-event', {
            getContent: function () {
                if (edit.getContent() == '' || edit.getContent() == undefined) {
                    notice.info('你得说点儿什么~')
                    return
                }
                var option = {
                    url: 'home/signIn',
                    type: 'post',
                    data: {
                        content: edit.getContent()
                    }
                };
                common.ajax(option, function (res) {
                    if (res.code == 0) {
                        notice.success(res.msg)
                        setTimeout(function () {
                            // 重载动态消息
                            $("#activeContent").hide();
                            edit.setContent('')
                            getDynamic(common, $, notice)
                            changeBtn();
                        }, 1000)
                    } else {
                        notice.error(res.msg)
                    }
                })
            }
        });
    }

    function changeBtn() {
        $("#signIn").removeClass()
        $("#signIn").addClass('pear-btn pear-btn-success')
        $("#signIn").attr('disabled', true);
        $("#signIn").text('今日已签到');
    }

    function signIn(button, notice, common) {
        common.ajax({
            url: 'home/checkSignIn',
            type: 'get'
        }, function (res) {
            if (res.code == 0) {
                var data = res.data;
                if (data > 0) {
                    // 已经签到
                    changeBtn();
                }
            } else {
                $("#signIn").attr('disabled', true);
                notice.error('初始化签到按钮失败！' + res.msg)
            }
        });
        $("#signIn").on('click', function () {
            $("#signIn").attr('disabled', true);
            button.load({
                elem: '[load]',
                time: 500,
                done: function () {
                    notice.info("发表点什么呗")
                    $("#signIn").attr('disabled', false);
                    $("#activeContent").show();
                }
            })
        })
    }

    function getDynamic(common, $, notice) {
        var dd = '<dd>',
            div = '<div>',
            divImg = ' <div class="layui-status-img"><a href="javascript:;"><img style="width: 32px;height: 32px;border-radius: 50px;" src="../../admin/images/avatar.jpg"></a></div><div>',
            p = '<p>',
            span = '<span>';
        var option = {
            url: 'home/getDynamic',
            type: 'get'
        };
        common.ajax(option, function (res) {
            if (res.code == 0) {
                if (res.data.length > 0) {
                    $("#dynamic").empty();
                    $.each(res.data, function (index, item) {
                        var ct = '';
                        var content = item.content;
                        var date = item.createTime;
                        var userName = item.userName;
                        ct = dd + divImg + div + p + content + '</p>' + span + userName + '&nbsp;发表于：&nbsp;' + date + '</span>' + '</div>' + '</dd>';
                        $('#dynamic').append(ct);
                    })
                }
            } else {
                notice.error(res.msg)
            }
        });
    }

    window.onload = layui.use(['tinymce', 'notice', 'common', 'util', 'code', 'popup', 'layer', 'echarts', 'element', 'button', 'count', 'topBar', 'laydate', 'dragMove'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            popup = layui.popup,
            element = layui.element,
            count = layui.count,
            notice = layui.notice,
            common = layui.common,
            button = layui.button,
            echarts = layui.echarts,
            dragMove = layui.dragMove,
            tinymce = layui.tinymce,
            laydate = layui.laydate,
            util = layui.util;
        // 注册notice提示框
        notice.options = {
            closeButton: false,//显示关闭按钮
            positionClass: "toast-top-center",//弹出的位置,
            showDuration: "300",//显示的时间
            hideDuration: "1000",//消失的时间
            timeOut: "2000",//停留的时间
            extendedTimeOut: "1000",//控制时间
            showEasing: "swing",//显示时的动画缓冲方式
            hideEasing: "linear",//消失时的动画缓冲方式
            iconClass: 'toast-info', // 自定义图标，有内置，如不需要则传空 支持layui内置图标/自定义iconfont类名
            onclick: null, // 点击关闭回调
        };
        layui.code();
        // 签到按钮
        signIn(button, notice, common);
        // 富文本编辑器
        initTinymce(tinymce, $, util, layer, common, notice);
        // 数字滚动
        initNumber(count);
        // 日期控件
        initDate(laydate, common);
        // 获取动态消息
        getDynamic(common, $, notice);
        //注册刷新按钮
        $('#refresh').on('click', function () {
            getDynamic(common, $, notice)
        })
        //执行示例
        dragMove.render({
            elem: "#dynamic", //指向图片的父容器
            layerArea: ["960px", "720px"],
            layerShade: 0.6, //遮罩的透明度，同layer的shade，默认0.6
            layerMove: false, //触发拖动的元素，同layer的move，这里默认禁止，可设置为'.layui-layer-title'
            maxZoom: 3 //图片能放大的最大倍数，默认1倍
        });
    });

</script>
</body>
</html>