<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> Admin Layui </title>
    <div th:include="include::header"></div>
    <!-- 主 题 更 换 -->
    <style id="pearadmin-bg-color"></style>
    <script th:inline="javascript">
        var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
        var accountId = [[${accountId}]];
        console.log('accountId=' + accountId)
    </script>
    <!-- 头 部 结 束 -->
</head>
<!-- 结 构 代 码 -->
<body class="layui-layout-body pear-admin" style="height: 2000px">
<!-- 头部 -->
<div id="header" class="header"></div>
<div id="layIm" class="layIm"></div>
</body>
<div th:include="include::footer"></div>
<!-- 框 架 初 始 化 -->
<script>
    $(function () {
        // 加载头部
        $('#header').load('header')
        //加载layIm
        $('#layIm').load('layim/login')
    })
    layui.use(['admin', 'jquery', "convert"], function () {
        var admin = layui.admin,
            $ = layui.jquery,
            convert = layui.convert;
        var image = new Image();
        image.src = "admin/images/avatar.jpg";
        image.onload = function () {
            $(".layui-nav-img").attr("src", convert.imageToBase64(image));
        }
        // 重新设置配置文件读取路径，默认为同级目录下的 pear.config.json
        admin.setConfigPath("config/pear.config.yml");
        // Admin 框架初始化
        admin.render();
    })
</script>
</html>
