<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> 个人空间 </title>
    <div th:include="include::header"></div>
    <!-- 主 题 更 换 -->
    <style id="pearadmin-bg-color"></style>
    <style>
        iframe {
            background: whitesmoke;
            right: -5px;
            position: absolute;
        }
    </style>
    <script th:inline="javascript">
        var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
        var accountId = [[${accountId}]];
        var username = [[${user.userName}]];
        var isVisitor = [[${isVisitor}]];
        localStorage.setItem('isVisitor', JSON.stringify(isVisitor))
    </script>
    <!-- 头 部 结 束 -->
</head>
<!-- 结 构 代 码 -->
<body class="layui-layout-body pear-admin">
<!-- 布 局 框 架 -->
<div class="layui-layout layui-layout-admin">
    <!-- 头部 -->
    <div id="header" class="header"></div>
    <!--    加载layim-->
    <div id="layIm" class="layIm"></div>
    <!--    音乐播放器-->
    <div id="music" class="music"></div>
    <!-- 视 图 页 面 -->
    <div class="layui-body">
        <!-- 内 容 页 面 -->
        <div id="spaceContent" class="spaceContent"></div>
    </div>
</div>
<!-- 遮 盖 层 -->
<div class="pear-cover"></div>
<!-- 移 动 端 便 捷 操 作 -->
<div class="pear-collasped-pe collaspe"><a href="#" class="layui-icon layui-icon-shrink-right"></a></div>
<!-- 加 载 动 画-->
<div class="loader-main">
    <div class="loader"></div>
</div>
</body>
<div th:include="include::footer"></div>
<!-- 框 架 初 始 化 -->
<script>
    $(function () {
        // $('.layui-body').css('left', '9%')
        $('.layui-body').css('left', '0px')

        // 加载头部
        $('#header').load('header')
        $('#music').load('music')
        if (isVisitor == null) {
            //加载layIm
            $('#layIm').load('layim/login')
        }
    })
    layui.use(['admin', 'jquery', "convert"], function () {
        var admin = layui.admin,
            $ = layui.jquery,
            convert = layui.convert;
        var image = new Image();
        image.src = "admin/images/avatar.jpg";
        image.onload = function () {
            $(".layui-nav-img").attr("src", convert.imageToBase64(image));
        }
        // 重新设置配置文件读取路径，默认为同级目录下的 pear.config.json
        admin.setConfigPath("config/pear.config.yml");
        // Admin 框架初始化
        admin.render(undefined, accountId);
    })
</script>
</html>
