<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <div th:include="include::header"></div>
    <style>
        h1 {
            margin-top: 200px;
            color: #5FB878;
        }

        .layui-card-body {
            text-align: center;
        }

        /*    隐藏表格工具栏元素、表头元素*/
        .layui-table-tool, .layui-table-header {
            display: none;
        }
    </style>
</head>
<body class="pear-container">
<div th:include="include::footer"></div>
<!--内容-->
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this" data-url="/mylog">我的日志</li>
                <li data-url="/private">私密日志</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show"></div>
            </div>
        </div>
    </div>
</div>
<script>

    $(function () {
        loadTemplate('/mylog');
    });

    $('.layui-tab-title li').click(function () {
        loadTemplate($(this).attr('data-url'));
    });

    /**
     * @Description [加载页面]
     * @author xj
     * @param url [路由]
     * @return [返回值]
     * @date 2021/5/3 18:23
     */
    function loadTemplate(url) {
        var prefix = '/journal';
        $('.layui-tab-item').load(prefix + '/template', {
            url: url
        });
    }
</script>
</body>
</html>