<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>新增菜单</title>
        <div th:include="include::header"></div>
    </head>
    <style>
        .col9p {
            width: 80.333333% !important;
        }
    </style>
    <body>
        <form class="layui-form" id="form-menu-add">
            <div class="main-container">
                <div class="layui-form-item">
                    <label class="layui-form-label">菜单名</label>
                    <div class="layui-col-sm4">
                        <input type="text" name="title" required lay-verify="required" autocomplete="off"
                               placeholder="请输入菜单名"
                               class="layui-input">
                    </div>
                    <label class="layui-form-label">URL</label>
                    <div class="layui-col-sm4">
                        <input type="text" name="href" required lay-verify="required" autocomplete="off"
                               placeholder="请输入URL"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">类型</label>
                    <div class="layui-col-sm4">
                        <input type="radio" name="type" value="0" lay-filter="isCatalog" title="目录" checked>
                        <input type="radio" name="type" value="1" lay-filter="isCatalog" title="菜单">
                        <input type="radio" name="type" value="2" lay-filter="isCatalog" title="按钮">
                    </div>
                    <label class="layui-form-label">打开方式</label>
                    <div class="layui-col-sm4">
                        <select name="openType" lay-verify="required" lay-search>
                            <option value=""></option>
                            <option value="_iframe">iframe</option>
                        </select>
                    </div>
                    <!--                    <label class="layui-form-label">是否根目录</label>-->
                    <!--                    <div class="layui-col-sm3">-->
                    <!--                        <input type="checkbox" id="isCatalog" lay-skin="switch" checked lay-text="是|否"-->
                    <!--                               lay-filter="isCatalog">-->
                    <!--                    </div>-->
                </div>
                <div class="layui-form-item" style="display: none;" id="cata">
                    <label class="layui-form-label">上级菜单</label>
                    <div class="layui-col-sm10 col9p">
                        <ul id="tree" class="dtree" data-id="0"></ul>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">排序</label>
                    <div class="layui-col-sm4">
                        <input type="text" name="orderNum" required lay-verify="required" placeholder="请输入排序"
                               autocomplete="off" class="layui-input">
                    </div>
                    <label class="layui-form-label">是否显示</label>
                    <div class="layui-col-sm4">
                        <input type="checkbox" name="visible" lay-skin="switch" checked lay-text="显示|隐藏">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">图标</label>
                    <div class="layui-col-sm10 col9p">
                        <input type="hidden" name="icon">
                        <input type="text" id="icon" name="_icon" readonly required lay-verify="required"
                               placeholder="请选择图标"
                               autocomplete="off" class="layui-input">
                        <div style="width: 100%;">
                            <div class="icon-drop layui-anim-down"
                                 style="display: none;max-height:90px;overflow-y:auto">
                                <div data-th-include="system/menu/icon"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="button-container">
                    <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit=""
                            lay-filter="menu-save">
                        <i class="layui-icon layui-icon-ok"></i>
                        提交
                    </button>
                </div>
            </div>
        </form>

        <div th:include="include::footer"></div>
        <script>
            $(function () {
                $("input[name='_icon']").focus(function () {
                    $(".icon-drop").show();
                });
                $("#form-menu-add").click(function (event) {
                    var obj = event.srcElement || event.target;
                    if (!$(obj).is("input[name='_icon']")) {
                        $(".icon-drop").hide();
                    }
                });
                $(".icon-drop").find(".ico-list i").on("click", function () {
                    $('[name=icon]').val("<span class=" + $(this).attr('class') + ">" + encodeURIComponent($(this).text()) + "</span>");
                    $('[name=_icon]').val("<span class=" + $(this).attr('class') + ">" + encodeURIComponent($(this).text()) + "</span>");
                });

            });


            layui.use(['form', 'jquery', 'common', 'dtree'], function () {
                let form = layui.form;
                let $ = layui.jquery;
                let common = layui.common,
                    dtree = layui.dtree;
                dtree.render({
                    elem: "#tree",
                    initLevel: "1",
                    method: 'get',
                    url: "/menu/menuTree",
                    selectInputName: {nodeId: 'parentId'},
                    select: true
                });

                form.on('switch(visible)', function (obj) {
                    var status = obj.elem.checked ? 1 : 0;
                    $('#visible').val(status);
                    $('[name=visible]').val(status);
                });

                form.on('radio(isCatalog)', function (obj) {
                    var isCatalog = obj.value;
                    if (isCatalog !== '0') {
                        $("#cata").show();
                    } else {
                        $("#cata").hide();
                        $("[name=parentId]").val(0);
                    }
                });
                form.on('submit(menu-save)', function (data) {
                    $('[name=visible]').val(data.field.visible == 'on' ? 1 : 0);
                    $.ajax({
                        url: '/menu/addMenu',
                        data: $("#form-menu-add").serialize(),
                        dataType: 'json',
                        type: 'post',
                        success: function (result) {
                            common.ajaxMsg(result);
                            parent.refresh()
                        }
                    })
                    return false;
                });
            })
        </script>
        <script>
        </script>
    </body>
</html>