<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
    <!-- 资 源 引 入 -->
    <link th:href="@{/component/pear/css/pear.css}" rel="stylesheet"/>
</div>
<div th:fragment="footer">
    <!-- 资 源 引 入 -->
    <script th:src="@{/component/layui/layui.js}"></script>
    <script th:src="@{/component/pear/pear.js}"></script>
    <script th:src="@{/assets/js/jquery.min.js}"></script>
</div>
</body>
</html>