<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
    <!-- 依 赖 样 式 -->
    <link th:href="@{/component/pear/css/pear.css}" rel="stylesheet"/>
    <!-- 加 载 样 式-->
    <link th:href="@{/admin/css/load.css}" rel="stylesheet"/>
    <!-- 布 局 样 式 -->
    <link th:href="@{/admin/css/admin.css}" rel="stylesheet"/>
</div>
<div th:fragment="layIm">
    <!-- 资 源 引 入 -->
    <script type="application/javascript" th:src="@{/component/layui/jquery.min.js}"></script>
    <script type="application/javascript" th:src="@{/component/layui/layui.js}"></script>
</div>
<div th:fragment="footer">
    <!-- 资 源 引 入 -->
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/js/js.cookie.js}"></script>
    <script th:src="@{/component/layui/layui.js}"></script>
    <script th:src="@{/component/pear/pear.js}"></script>
    <script th:src="@{/component/pear/modules/common.js}"></script>
</div>
</body>
</html>