<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>注册</title>
    <!-- 样 式 文 件 -->
    <link rel="stylesheet" href="component/pear/css/pear.css"/>
    <link rel="stylesheet" href="admin/css/other/login.css"/>
</head>
<style>
    .row {
        padding-left: 0;
        padding-right: 15px;
        line-height: 18px;
        background: 0 0;
        color: #666;
        text-align: right;
        margin-top: -20px;
    }
    .toast-top-center {
        margin-top: calc(50% - 700px);
    }

</style>
<!-- 代 码 结 构 -->
<body background="admin/images/background2.svg" style="background-size: cover;">
<form class="layui-form" id="form-register">
    <div class="layui-form-item">
        <img class="logo" src="admin/images/logo.png"/>
        <div class="title">个人空间</div>
        <div class="desc">注册一个用户
        </div>
    </div>
    <div class="layui-form-item">
        <input type="text" placeholder="邮箱:  " value="1@qq.com" hover name="email" class="layui-input"/>
    </div>
    <div class="layui-form-item">
        <input type="text" placeholder="用户名: " hover value="chen" name="loginName" class="layui-input"/>
    </div>
    <div class="layui-form-item">
        <input type="password" placeholder="请输入密码: " hover value="admin123" name="password" class="layui-input"/>
    </div>
    <div class="layui-form-item">
        <input type="password" placeholder="再次输入密码: " hover value="admin123" name="_password" class="layui-input"/>
    </div>
    <div class="layui-form-item">
        <input type="password" placeholder="请输入手机号码: " hover value="15293616670" name="phonenumber"
               class="layui-input"/>
    </div>
    <div class="layui-form-item">
        <input id="remember-me" type="checkbox"  title="我已阅读并同意" lay-skin="primary">
        <div class="row"><a href="javascript:;">《用户注册协议》</a></div>
    </div>
    <div class="layui-form-item">
        <button type="button" class="pear-btn pear-btn-success login" lay-submit lay-filter="register"
                id="register">
            注册
        </button>
    </div>
</form>
</form>
<!-- 资 源 引 入 -->
<div th:include="include::footer"></div>
<script>
    layui.use(['form', 'element', 'jquery', 'button', 'popup'], function () {
        var form = layui.form;
        var button = layui.button;
        var popup = layui.popup;
        var $ = layui.jquery;
        // 注 册 提 交
        form.on('submit(register)', function (data) {
            if (!$("#remember-me").prop("checked")){
                $.notice.warningNotice("请勾选我同意《用户注册协议》")
                return
            }
            button.load({
                elem: 'register',
                time: 500,
                ajaxPostOption: {
                    url: '/register',
                    data: $('#form-register').serialize()
                },
                done: function (data) {
                    if (data.code === 0) {
                        popup.success(data.msg);
                        window.top.location.href = '/login';
                    } else {
                        popup.failure(data.msg);
                    }
                }
            })
            return false;
        });
    })
</script>
</body>
</html>
