<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjl.basic.zone.project.manage.layim.mapper.GroupsMapper">


    <resultMap id="groupMap" type="com.cjl.basic.zone.project.manage.layim.entity.Groups">
        <id property="id" column="id" />
        <result property="groupname" column="group_name"/>
        <result property="owner" column="owner"/>
        <result property="avatar" column="avatar"/>
        <result property="createTime" column="create_time"/>

    </resultMap>

    <resultMap id="userMap" type="com.cjl.basic.zone.project.manage.layim.entity.Mine" extends="com.cjl.basic.zone.project.manage.user.mapper.UserMapper.UserResultMap">
        <result property="username" column="user_name"/>
    </resultMap>

    <insert id="addGroupUser">
        insert into layim_group_mine
        (id,gid,uid,create_time,status)
        values (#{id},#{gid},#{uid},#{createTime},#{status})
    </insert>

    <select id="getUserGroups" resultMap="groupMap">
        select lg.* from layim_group lg
        inner join layim_group_mine lgm on lgm.gid=lg.id
        where lgm.uid=#{userId}
    </select>

    <select id="getGroupUserById" resultMap="userMap">
        select lm.* from  z_users lm
        inner join layim_group_mine lgm on lgm.uid=lm.account_id
        where lgm.gid=#{id}
    </select>

    <sql id="groupMsg">
        id,group_id,send_user_id,content,create_time,status
    </sql>

    <insert id="InsertGroupMsg">
        insert into layim_group_msg
        (<include refid="groupMsg" />)
        values (#{id},#{groupId},#{sendUserId},#{content},#{createTime},#{status})
    </insert>

    <select id="getGroupChatLogMsg" resultMap="userMap">
        SELECT * FROM z_users lm
        INNER JOIN layim_group_msg lgmsg on lgmsg.send_user_id=lm.account_id
        WHERE lgmsg.group_id=#{groupId}
        ORDER BY lgmsg.create_time asc
    </select>

    <select id="getById" resultMap="groupMap">
        select * from layim_group
        where  id=#{id}
    </select>
</mapper>