<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjl.basic.zone.project.layim.mapper.MineMapper">

  <resultMap id="userMap" type="com.cjl.basic.zone.project.layim.entity.Mine">
    <id property="id" column="id" />
    <result property="username" column="user_name"/>
    <result property="sign" column="sign"/>
    <result property="avatar" column="avatar"/>
    <result property="status" column="status"/>
  </resultMap>


  <update id="upUserMine">
    update layim_mine
    <set>
      <if test="username!=null">
        user_name=#{userName},
      </if>
      <if test="status!=null">
        status=#{status},
      </if>
      <if test="sign!=null">
        sign=#{sign},
      </if>
      <if test="avatar!=null">
        avatar=#{avatar},
      </if>
    </set>
    where id=#{id}
  </update>

  <select id="getUserInfo" resultMap="userMap">
    select * from layim_mine
    where id=#{userId}
  </select>


  <select id="getMineList" resultMap="userMap">
    select * from layim_mine
  </select>
</mapper>