<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjl.basic.zone.project.manage.layim.mapper.SysMsgMapper">

  <resultMap id="sysMsgMap" type="com.cjl.basic.zone.project.manage.layim.entity.SysMsg">
    <id property="id" column="id" />
    <result property="uid" column="uid"/>
    <result property="content" column="content"/>
    <result property="createTime" column="create_time"/>
    <result property="status" column="status"/>
  </resultMap>


  <insert id="addSysMsg">
    insert into z_sys_msg
    (id,uid,content,create_time,status)
    values (#{id},#{uid},#{content},#{createTime},#{status})
  </insert>

  <select id="getSysMsgByUid" resultMap="sysMsgMap">
    select * from z_sys_msg
    where uid=#{uid} order by create_time desc
  </select>
</mapper>