<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjl.basic.zone.project.space.board.mapper.ZMessageBoardMapper">
    <resultMap id="boardMap" type="com.cjl.basic.zone.project.space.board.domain.ZMessageBoard">
        <id column="mb_id" jdbcType="INTEGER" property="mbId"/>
        <result column="account_id" jdbcType="INTEGER" property="accountId"/>
        <result column="userName" jdbcType="VARCHAR" property="userName"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="come_account_id" jdbcType="INTEGER" property="comeAccountId"/>
        <result column="comeUserName" jdbcType="VARCHAR" property="comeUserName"/>
        <result column="comeAvatar" jdbcType="VARCHAR" property="comeAvatar"/>
        <result column="message" jdbcType="VARCHAR" property="message"/>
        <result column="del_flag" jdbcType="CHAR" property="delFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    mb_id, account_id, come_account_id, message, del_flag, create_time
  </sql>
    <select id="selectMessageBoardById" parameterType="java.lang.Integer" resultMap="boardMap">
        select
        <include refid="Base_Column_List"/>
        from z_message_board
        where mb_id = #{mbId,jdbcType=INTEGER}
    </select>
    <select id="selectMessageBoardList" resultMap="boardMap">
      select mess.mb_id,
           mess.account_id,
           mess.user_name userName,
           mess.avatar,
           mess.come_account_id,
           zu.user_name   comeUserName,
           zu.avatar comeAvatar,
           mess.message,
           mess.del_flag,
           mess.create_time
    from (
             select mb.mb_id,
                    mb.account_id,
                    mb.come_account_id,
                    mb.message,
                    mb.del_flag,
                    mb.create_time,
                    z.user_name,
                    z.avatar
             from z_message_board mb
                      left join z_users z on z.account_id = mb.account_id and z.del_flag = 0
             where mb.account_id = #{accountId}
               AND mb.del_flag = 0
               and mb.come_account_id != #{accountId}
         ) mess
             left join z_users zu on zu.account_id = mess.come_account_id and zu.del_flag = 0
    </select>
    <select id="selectOwnerMessageBoard" resultMap="boardMap">
        select
        <include refid="Base_Column_List"/>
        from z_message_board
        where account_id = #{accountId,jdbcType=INTEGER}
        AND come_account_id=#{accountId}
    </select>
    <delete id="deleteMessageById" parameterType="java.lang.Integer">
    delete from z_message_board
    where mb_id = #{mbId,jdbcType=INTEGER}
  </delete>
    <insert id="insertMessage" keyColumn="mb_id" keyProperty="mbId" useGeneratedKeys="true">
        insert into z_message_board
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accountId != null">
                account_id,
            </if>
            <if test="comeAccountId != null">
                come_account_id,
            </if>
            <if test="message != null">
                message,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accountId != null">
                #{accountId,jdbcType=INTEGER},
            </if>
            <if test="comeAccountId != null">
                #{comeAccountId,jdbcType=INTEGER},
            </if>
            <if test="message != null">
                #{message,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <delete id="removeMessage">
        update z_reply set del_flag=1
        where r_id=#{id}
    </delete>
</mapper>