<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjl.basic.zone.project.space.home.mapper.ZSignInMapper">
    <resultMap id="BaseResultMap" type="com.cjl.basic.zone.project.space.home.domain.ZSignIn">
        <id column="si_id" jdbcType="INTEGER" property="siId"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="date" jdbcType="VARCHAR" property="date"/>
        <result column="account_id" jdbcType="INTEGER" property="accountId"/>
    </resultMap>
    <resultMap id="dynamicMap" type="com.cjl.basic.zone.project.space.home.domain.ZDynamic" extends="BaseResultMap">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="del_flag" jdbcType="CHAR" property="delFlag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <sql id="Base_Column_List">
    si_id, `type`, `date`, account_id
  </sql>
    <select id="selectSignInfoByAccountId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from z_sign_in
        where account_id = #{accountId}
    </select>
    <select id="checkSignIn" resultType="java.lang.Integer">
       select count(*)
        from z_sign_in
        where account_id = #{accountId}
          and DATE(date) = #{currentDate}
    </select>
    <select id="selectSignInfoList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from z_sign_in
        where account_id = #{accountId}
    </select>
    <select id="selectSignInfoMap" parameterType="java.lang.Integer" resultMap="dynamicMap">
        select DATE(create_time) date, title
        from z_dynamic
        where si_id in (
            select si_id
            from z_sign_in
            where account_id = #{accountId}
        )
    </select>
    <select id="selectDynamicList" resultMap="dynamicMap">
        select zd.id,
        zd.account_id,
        zu.user_name,
        zd.content,
        zd.title,
        zd.si_id,
        zd.create_by,
        zd.create_time,
        zd.update_by,
        zd.update_time,
        zd.del_flag
        from z_dynamic zd
        left join z_users zu on zd.account_id = zu.account_id
        where zd.del_flag = 0
        and zd.create_time &lt; #{currentTime}
        AND zd.account_id in (
                (select f_user_id
                from z_friend
                where user_id = #{accountId}
                group by f_user_id
                union select #{accountId}
                )
        )
        order by zd.create_time desc
    </select>
    <insert id="insertSignInfo" keyColumn="si_id" keyProperty="siId"
            parameterType="com.cjl.basic.zone.project.space.home.domain.ZSignIn" useGeneratedKeys="true">
        insert into z_sign_in
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">
                `type`,
            </if>
            <if test="date != null">
                `date`,
            </if>
            <if test="accountId != null">
                account_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="date != null">
                #{date,jdbcType=VARCHAR},
            </if>
            <if test="accountId != null">
                #{accountId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <insert id="insertDynamic" keyColumn="id" keyProperty="id"
            parameterType="com.cjl.basic.zone.project.space.home.domain.ZDynamic" useGeneratedKeys="true">
        insert into z_dynamic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accountId != null">
                account_id,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="siId != null">
                si_id,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accountId != null">
                #{accountId,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="siId != null">
                #{siId,jdbcType=INTEGER},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateSignInfo" parameterType="com.cjl.basic.zone.project.space.home.domain.ZSignIn">
        update z_sign_in
        <set>
            <if test="type != null">
                `type` = #{type,jdbcType=VARCHAR},
            </if>
            <if test="date != null">
                `date` = #{date,jdbcType=VARCHAR},
            </if>
            <if test="accountId != null">
                account_id = #{accountId,jdbcType=INTEGER},
            </if>
        </set>
        where si_id = #{siId,jdbcType=INTEGER}
    </update>
</mapper>