<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改用户</title>
    <div th:include="include::header"></div>
</head>
<body>
<form class="layui-form" id="form-user-edit">
    <div class="mainBox">
        <div class="main-container">
            <input type="hidden" th:value="${user?.accountId}" name="userId">
            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="userName" lay-verify="title" th:value="${user?.userName}"
                           autocomplete="off" placeholder="请输入姓名"
                           class="layui-input">
                </div>
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                    <input type="text" name="email" lay-verify="title" th:value="${user?.email}" autocomplete="off"
                           placeholder="请输入邮箱"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-inline">
                    <input type="radio" name="sex" value="1" title="男" th:checked="${user?.sex=='1'}?true:false">
                    <input type="radio" name="sex" value="0" title="女" th:checked="${user?.sex=='0'}?true:false">
                </div>
                <label class="layui-form-label">账号名</label>
                <div class="layui-input-inline">
                    <input type="text" name="loginName" lay-verify="title" placeholder="请输入账号名"
                           autocomplete="off" class="layui-input" th:value="${user?.loginName}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">电话号码</label>
                <div class="layui-input-inline">
                    <input type="text" name="phonenumber" lay-verify="title" placeholder="请输入电话号码"
                           autocomplete="off" class="layui-input" th:value="${user?.phonenumber}">
                </div>
                <label class="layui-form-label">重置密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="password" lay-verify="title" placeholder="请输入新密码"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="user-edit">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
        </div>
    </div>
</form>
<div th:include="include::footer"></div>
<script>
    layui.use(['form', 'jquery'], function () {
        let form = layui.form;
        let $ = layui.jquery;

        form.on('submit(user-edit)', function (data) {
            let roleIds = "";
            $('input[type=checkbox]:checked').each(function () {
                roleIds += $(this).val() + ",";
            });
            roleIds = roleIds.substr(0, roleIds.length - 1);
            data.field.roleIds = roleIds;

            $.ajax({
                url: '/user/editUser',
                data: $("#form-user-edit").serialize(),
                dataType: 'json',
                type: 'post',
                success: function (result) {
                    if (result.code == 0) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.layui.table.reload("user-table");
                        });
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000});
                    }
                }
            })
            return false;
        });
    })
</script>
<script>
</script>
</body>
</html>
